@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.current-link {
  color: #7fcd25;
  font-weight: 600;
  text-decoration: underline;
}

textarea:focus,
input:focus {
  outline: none !important;
  border: 1px solid #7fcd25;
  box-shadow: 0 0 10px #7fcd25;
}

select {
  color: #282828;
  font-weight: 400;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #7fcd25;
}

img {
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
  color: white;
}

.active {
  color: #7fcd25;
  font-weight: 800;
}

.btn {
  color: #fff;
  background-color: #7fcd25;
  cursor: pointer;
  width: 112px;
  height: 37px;
  border-radius: 50px;
  border: #7fcd25;
}

#login-btn {
  display: block;
}

.hidden {
  display: none;
}

.btn:hover {
  text-decoration: underline;
  font-weight: bolder;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 6 0;
}

h4 {
  font-size: 25px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

.chat-item a {
  color: #282828;
}

.product-card {
  background: #e8e8e8;
  text-align: left;
  padding: 1rem;
  border-radius: 5px;
  margin: 2rem;
  width: 18rem;
  height: 19rem;
}
.product-card img {
  border-radius: 10px;
  display: table;
  margin: 0 auto;
  width: 168px;
  height: 161px;
}
.product-card a {
  color: black !important;
  font-weight: 500;
}
.product-card p {
  padding-bottom: 0.4rem;
}

#google_translate_element .goog-te-gadget-simple {
  width: 330px;
  height: 60px;
  padding-bottom: 50px;
}

#google-elements {
  display: flex;
  gap: 1rem;
}

.buttons button {
  margin-bottom: 1rem;
}

#postsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Makes the grid responsive */
  gap: 20px; /* Space between grid items */
  box-sizing: border-box;
}

#postContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

#userPostsContainer,
#otherUserPostsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Makes the grid responsive */
  gap: 20px; /* Space between grid items */
}

body {
  height: 100vh;
  font-family: "Alegreya Sans", sans-serif;
  overflow-x: hidden;
}

#home .container #banner {
  background-image: url(images/home-photo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: 1rem;
  animation: introLoad 2s ease;
}
#home .container #banner h1 {
  font-size: 70px;
  font-weight: 500;
  color: white;
  text-shadow: 1px 4px 20px rgba(0, 0, 0, 0.25);
}
#home .container #banner span {
  color: #7fcd25;
}
#home .container #home-products {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
#home .container #home-products h3 {
  margin-bottom: 2rem;
}

.about-div {
  display: grid;
  padding: 2rem;
  grid-template-areas: "header header text arrow" "p p img img" "btn btn img img";
}
.about-div h2 {
  grid-area: header;
  margin-bottom: 2rem;
}
.about-div p {
  grid-area: p;
  font-size: 22px;
  padding-right: 2rem;
  text-align: left;
}
.about-div p a {
  color: black;
  text-decoration: underline;
}
.about-div .btn {
  grid-area: btn;
  margin-top: 2rem;
  width: 122px;
  height: 47px;
  font-size: 17px;
}
.about-div #statistics {
  grid-area: img;
  width: 500px;
  height: 425px;
}
.about-div .arrow {
  grid-area: arrow;
  width: 66px;
  height: 50.5px;
  padding-left: 1.2rem;
  animation: moveArrow 1s alternate-reverse infinite;
}
.about-div h4 {
  grid-area: text;
  text-align: right;
}
.about-div span {
  color: #7fcd25;
}

#about h5 {
  margin-bottom: 1rem;
}
#about .about {
  display: grid;
  padding: 2rem;
  grid-template-areas: "text text2 arrow2 arrow " "img2 img2 h3 h3" "img2 img2 p p";
}
#about .about h4 {
  grid-area: text2;
  text-align: right;
  width: 217px;
  height: 25px;
  margin-bottom: 6rem;
}
#about .about #arr2 {
  grid-area: arrow2;
  justify-self: left;
  width: 66px;
  height: 50.5px;
  padding-left: 1.2rem;
  animation: moveArrow 1s alternate-reverse infinite;
}
#about .about #chart {
  grid-area: img2;
  width: 400px;
  height: 425px;
}
#about .about h3 {
  grid-area: h3;
}
#about .about p {
  grid-area: p;
  width: 700px;
  text-align: left;
  font-size: 22px;
}
#about .about a {
  color: black;
  text-decoration: underline;
}

#contact .container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: center;
  gap: 8rem;
}
#contact .container img {
  width: 340px;
  height: 544px;
  border-radius: 10px;
}
#contact .container #form {
  border: 1px solid #acacac;
  animation: introLoad 2s ease;
  border-radius: 10px;
  width: 720px;
  height: 544px;
  text-align: center;
}
#contact .container #form h4 {
  margin: 1.4rem;
}
#contact .container #form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
#contact .container #form form input,
#contact .container #form form textarea {
  width: 90%;
  color: #3b3b3b;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid #acacac;
  padding: 1.2rem;
  font-family: Alegreya Sans;
  border-radius: 5px;
}
#contact .container #form form .text-input:focus {
  border: 2px solid #808080;
  outline: none;
}

#login .container {
  display: flex;
  height: calc(100vh - 100px);
  flex-direction: row;
  padding: 2rem;
  justify-content: center;
  gap: 8rem;
}
#login .container #form {
  border: 1px solid #acacac;
  animation: introLoad 2s ease;
  border-radius: 10px;
  width: 720px;
  height: 544px;
  text-align: center;
}
#login .container #form h1 {
  margin: 1.4rem;
}
#login .container #form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
#login .container #form form input,
#login .container #form form textarea {
  width: 90%;
  color: #605c5c;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #acacac;
  padding: 1.2rem;
  font-family: Alegreya Sans;
  border-radius: 5px;
}
#login .container #form form .text-input:focus {
  border: 2px solid #808080;
  outline: none;
}
#login .container #form form a {
  color: black;
}

#chat {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-left: 15rem;
  /* Other user's messages (right-aligned) */
  /* Sender's name and timestamp */
}
#chat textarea {
  width: 80%;
  color: #605c5c;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #acacac;
  padding: 1.2rem;
  font-family: Alegreya Sans;
  border-radius: 5px;
}
#chat textarea:focus {
  outline: none !important;
  border: 1px solid #7fcd25;
  box-shadow: 0 0 10px #7fcd25;
}
#chat .message {
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 10px 0;
  font-family: "Alegreya Sans", sans-serif;
}
#chat .currentUserMessage {
  align-self: flex-start;
  /* Light green */
  background-color: #e7f6e1;
  text-align: left;
}
#chat .otherUserMessage {
  align-self: flex-end;
  background-color: #c2e896; /* Light red */
  text-align: right;
}
#chat .sender {
  font-weight: bold;
}
#chat .timestamp {
  font-size: 0.8em;
  color: #6c757d;
}

.buttons-post .btn {
  width: 4rem;
  height: 1rem;
}

#product-details {
  display: flex;
  height: calc(100vh - 100px);
}
#product-details #product-photo {
  background-color: #e4e4e4;
  padding: 2rem;
  height: 385px;
}
#product-details #product-photo #main {
  width: 418px;
  height: 310px;
}
#product-details #details {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 1.5rem;
}
#product-details #details .detail-item {
  margin-bottom: 1.9rem; /* Adjusted margin for space between items */
}

#profile .cards {
  margin-bottom: 2rem;
}
#profile .h1 {
  margin: 1rem;
}
#profile .profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1.2rem;
}
#profile .profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#profile .profile h1,
#profile .profile p,
#profile .profile .btn {
  margin-top: 5rem;
}

#profile-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1.2rem;
}
#profile-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#profile-info h1,
#profile-info p,
#profile-info .btn {
  margin-top: 5rem;
}

#filterCondition {
  margin: 2rem;
  padding-left: 1rem;
  width: 120px;
}

#filterLocation:focus {
  outline: none !important;
  border: 1px solid #7fcd25;
  box-shadow: 0 0 10px #7fcd25;
}

#filterLocation {
  margin: 1rem;
}

.chats {
  margin: 1rem;
}

#setting {
  text-align: center;
  animation: introLoad 2s ease;
  border-radius: 10px;
  text-align: center;
}
#setting h1 {
  padding: 4rem;
}
#setting div {
  padding: 1.5rem;
}
#setting button {
  color: #7fcd25;
  font-weight: 600;
  background-color: #ffffff;
  cursor: pointer;
  width: 112px;
  height: 37px;
  border-radius: 20px;
  border: 1px solid #7fcd25;
}
#setting button:hover {
  text-decoration: underline;
  font-weight: bolder;
}

#rate {
  padding: 3rem;
  height: 100vh;
  text-align: center;
  animation: introLoad 2s ease;
  border-radius: 10px;
  text-align: center;
}
#rate label,
#rate select,
#rate textarea,
#rate .btn {
  margin: 1.5rem;
}
#rate a {
  color: #282828;
}
#rate input,
#rate textarea {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #acacac;
  width: 60%;
  font-family: Alegreya Sans;
  border-radius: 5px;
}
#rate button:hover {
  text-decoration: underline;
  font-weight: bolder;
}

#login-page {
  height: 100vh;
  text-align: center;
  animation: introLoad 2s ease;
  border-radius: 10px;
  text-align: center;
}
#login-page h2 {
  padding: 2rem;
  font-size: 2rem;
}
#login-page div {
  padding: 1.5rem;
}
#login-page a {
  color: #282828;
}
#login-page button {
  color: #7fcd25;
  font-weight: 600;
  background-color: #ffffff;
  cursor: pointer;
  width: 112px;
  height: 37px;
  border-radius: 20px;
  border: 1px solid #7fcd25;
}
#login-page button:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.createPost {
  text-align: center;
  animation: introLoad 2s ease;
  border-radius: 10px;
  text-align: center;
}
.createPost form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem;
}
.createPost form input,
.createPost form textarea,
.createPost form select,
.createPost form #location {
  margin: 1.6rem;
  width: 20rem;
  font-family: "Alegreya Sans", sans-serif;
}
.createPost h1 {
  margin: 2rem;
  font-size: 2rem;
}
.createPost div {
  padding: 1.5rem;
}
.createPost a {
  color: #282828;
}
.createPost button {
  color: #7fcd25;
  font-weight: 600;
  background-color: #ffffff;
  cursor: pointer;
  width: 112px;
  height: 37px;
  border-radius: 20px;
  border: 1px solid #7fcd25;
}
.createPost button:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.more-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
}
.more-info p {
  width: 20rem;
}
.more-info a {
  color: #fff !important;
}

footer {
  background-color: #282828;
  display: flex;
  color: white;
  flex-direction: row;
  padding: 1.2rem;
}
footer #logo {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  padding-left: 3rem;
}
footer p {
  font-weight: 300;
  font-size: 20px;
  margin: auto;
}
footer span {
  color: #7fcd25;
}

@media screen and (max-width: 900px) {
  #setting button {
    margin-top: 2rem;
  }
  #chat {
    margin-left: 0;
  }
  #product-photo {
    background-color: #e4e4e4;
    padding: 2rem;
    height: 260px !important;
  }
  #product-photo #main {
    width: 218px !important;
    height: 200px !important;
  }
  #profile-info {
    flex-direction: column !important;
  }
  #profile-info h1,
  #profile-info p,
  #profile-info .btn {
    margin-top: 0;
  }
  #google_translate_element .goog-te-gadget-simple {
    width: 130px;
    height: 30px;
    padding-bottom: 50px;
  }
  #google-elements {
    margin-bottom: 2rem;
  }
  #chat textarea,
  #chat .message {
    width: 100%;
  }
  p {
    font-size: 18px;
  }
  .cards {
    display: flex !important;
    flex-direction: column;
  }
  .about-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-div h2 {
    font-size: 40px;
  }
  .about-div h4 {
    font-size: 20px;
  }
  .about-div .arrow {
    width: 46px;
    height: 30.5px;
  }
  .about-div p {
    padding-right: 0;
  }
  .about-div #statistics {
    width: 305px;
    height: 125px;
    margin-top: 1.2rem;
  }
  .more-info {
    flex-direction: column;
  }
  #about .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about .about img {
    width: 305px;
    height: 125px;
    margin-top: 1.2rem;
  }
  #about .about h2 {
    font-size: 40px;
  }
  #about .about h4 {
    font-size: 20px;
  }
  #about .about .arrow {
    width: 46px;
    height: 30.5px;
  }
  #about .about p {
    width: auto;
  }
  #about .about h4 {
    margin: 0;
    text-align: center;
  }
  #contact .container {
    flex-direction: column;
  }
  #contact .container #form {
    width: 100%;
    height: 544px;
  }
  #contact .container img {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  footer #logo {
    padding-left: 0;
  }
  footer .footer-list {
    font-size: 16px;
  }
  header .container {
    display: flex;
    background-color: #e8e8e8;
    color: #282828;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    width: 50%;
    height: 100vh;
    z-index: 1000;
    padding: 2rem;
  }
  header .container a {
    color: #282828 !important;
  }
  header .container #logo {
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
  }
  header .container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  header .container ul li {
    font-size: 20px;
    font-weight: 300;
    padding: 1rem;
  }
  header .container ul li:hover {
    text-decoration: underline;
    color: #7fcd25;
  }
  header .buttons button a {
    color: white !important;
  }
  header #account-btn a,
  header #login-btn a {
    color: white !important;
  }
  header .close {
    display: block;
    position: absolute;
    top: 1.5rem;
    width: 1rem;
    height: 1rem;
    right: 1.5rem;
    fill: black;
    cursor: pointer;
  }
  header .menu {
    float: right;
    margin: 0.5em;
    width: 2.5em;
    height: 2rem;
    fill: #282828;
    cursor: pointer;
  }
  .open {
    transform: translateX(0) !important;
    /* Move header into view */
  }
  #product-details {
    flex-direction: column;
  }
  #profile .profile {
    flex-direction: column;
    align-items: center;
  }
  #profile .profile h1,
  #profile .profile p,
  #profile .profile .btn {
    margin-top: 0.2rem;
  }
  #profile .cards {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  #profile .cards .product-card {
    width: 185px;
    height: 171px;
  }
  #profile .cards .product-card img {
    width: 68px;
    height: 61px;
  }
  #profile .cards .product-card p,
  #profile .cards .product-card a {
    font-size: 14px;
  }
  #postContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Makes the grid responsive */
    gap: 20px; /* Space between grid items */
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 901px) {
  header {
    line-height: normal;
  }
  header .menu,
  header .close {
    display: none;
  }
  header .container {
    transform: translateX(0);
    position: unset;
    display: block;
    background: #282828;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.3rem;
  }
  header .container #logo {
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
  }
  header .container ul {
    display: flex;
    list-style: none;
  }
  header .container ul li {
    font-size: 20px;
    font-weight: 300;
    padding: 1rem;
  }
  header .container ul li:hover {
    text-decoration: underline;
    color: #7fcd25;
  }
  header .container #login {
    position: absolute;
    top: 2.5rem;
    right: 9rem;
  }
}
@media screen and (max-width: 560px) {
  p {
    font-size: 16px;
  }
  .about-div {
    grid-template-areas: "header header header header" "text text arrow arrow" "p p p p" "img img  img img" "btn btn  btn btn";
    padding: 1rem;
  }
  .about-div h2 {
    font-size: 35px;
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}/*# sourceMappingURL=style.css.map */